:root {
  --main-title-color: #2e2f42;
  --main-text-color: #434455;
  --main-text-button: #4d5ae5;
  --main-text-button-2: #ffffff;
  --main-background-studio: #2e2f42;
  --main-hover-focus: #404bbf;
  --main-footer-text: #e7e9fc;
  --main-team-color: #f4f4fd;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

.hidden {
  visibility: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color, #2e2f42);
}

.header-studio {
  color: var(--main-text-button, #4d5ae5);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-title-color, #2e2f42);
}

.header-link:hover {
  color: var(--main-hover-focus, #404bbf);
}

.header-link:focus {
  color: var(--main-hover-focus, #404bbf);
}

.header-email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-text-color, #434455);
}

.header-email:hover {
  color: var(--main-hover-focus, #404bbf);
}

.header-email:focus {
  color: var(--main-hover-focus, #404bbf);
}

.header-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-text-color, #434455);
}

.header-tel:hover {
  color: var(--main-hover-focus, #404bbf);
}

.header-tel:focus {
  color: var(--main-hover-focus, #404bbf);
}

.main-page {
  text-align: center;

  color: var(--main-text-button-2, #ffffff);
}

.main-page {
  background: var(--main-background-studio, #2e2f42);
}

.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-text-button-2, #ffffff);
}

.main-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--main-text-button-2, #ffffff);
  background: var(--main-text-button, #4d5ae5);
  cursor: pointer;
}

.main-btn:focus {
  background: var(--main-hover-focus, #404bbf);
}

.main-btn:hover {
  background: var(--main-hover-focus, #404bbf);
}

.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color, #2e2f42);
}

.main-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-text-color, #434455);
}

.main-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--main-title-color, #2e2f42);
}

.main-team {
  background: var(--main-team-color, #f4f4fd);
}

.main-team-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--main-title-color, #2e2f42);
}

.main-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-title-color, #2e2f42);
}

.main-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-text-color, #434455);
}

footer {
  background: var(--main-title-color, #2e2f42);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-footer-text, #e7e9fc);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-team-color, #f4f4fd);
}

.footer-studio {
  color: var(--main-text-button, #4d5ae5);
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  background: var(--main-footer-text, #e7e9fc);
  color: var(--main-text-button, #4d5ae5);
  cursor: pointer;
}

.filter-button:hover {
  background: var(--main-hover-focus, #404bbf);
  color: var(--main-text-button-2, #ffffff);
}

.filter-button:focus {
  background: var(--main-hover-focus, #404bbf);
  color: var(--main-text-button-2, #ffffff);
}

.main-rows-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color, #2e2f42);
}

.main-rows-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-text-color, #434455);
}
