body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-navigation {
}

.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}

.header-list {
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.header-link:hover {
  color: #4d5ae5;
}

.header-link:focus {
  color: #4d5ae5;
}

.header-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

.header-email:hover {
  color: #4d5ae5;
}

.header-email:focus {
  color: #4d5ae5;
}

.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

.header-tel:hover {
  color: #4d5ae5;
}

.header-tel:focus {
  color: #4d5ae5;
}

.main-page {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main-page {
  background: #2e2f42;
}

.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.main-btn {
  font-family: 'Roboto' sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;

  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}

.main-desc {
  background: #ffffff;
}

.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.main-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

.main-subtitle {
  background: #ffffff;
}

.main-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.main-team {
  background: #f4f4fd;
}

.main-team-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.main-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.main-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #434455;
}

footer {
  background: #2e2f42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #e7e9fc;
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}

.row-1 {
}

.main-rows-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.main-rows-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}
